.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 12px 0px rgb(161 0 255 / 42%);
    margin-top: 15px;
}

.MultiCarousel .MultiCarousel-inner {
    transition: .5s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
    cursor: pointer;
    min-height: 200px;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 5px;
    margin: 10px;
    background: #a100ff;
    color: #ffffff;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.glb-btn {
    min-width: 100px;
    min-height: 40px;
    background: #a100ff;
    color: #ffffff;
}

.flavour-info-ctnr {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 1px 12px 0px rgb(161 0 255 / 42%);
    display: none;
}

.item-ctnr {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px;
    background: #a100ff;
    text-align: center;
    color: #ffffff;
}

.item-ctnr p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.half-bl {
    display: inline-block;
    width: 48%;
}

.btn-ctnr {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.btn-primary {
    background: #a100ff;
    border-color: #a100ff;
}

.hdr-ctnr {
    width: 100%;
    min-height: 60px;
    background: #a100ff;
    color: #ffffff;
    font-size: 24px;
}

.hdr-ctnr {
    padding: 10px;
}

.space {
    padding: 15px;
}